$background-graphic-memphis: url('./assets/images/memphis-colorful.png');
$background-graphic-doodles: url('./assets/images/doodles.png');
$background-graphic-sakura: url('./assets/images/sakura.png');
